data/panaroo_out/combined_protein_CDS.fasta
data/panaroo_out/pre_filt_graph.gml
data/pirate_out/pan_sequences.fasta
data/REP_panaroo_output/gene_data.csv
data/panaroo_out/combined_DNA_CDS.fasta
data/panaroo_out/gene_data.csv
data/panaroo_out/final_graph.gml
data/genomes.fsa/REP_panaroo_output/gene_data.csv
data/genomes.fsa/REP_panaroo_output/gene_data.csv
data/genomes.fsa/panaroo_output/*.gml
data/genomes.fsa/panaroo_output/*.fasta
data/genomes.fsa/panaroo_output/gene_data.csv    
data/genomes.fsa/pirate_output/pan_sequences.fasta
